*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit; //inherit from borer-box below
}

html {
    font-size: 65.5%; //relative to rem, 1 rem is 10px by default

    @include respond(tab-land) {
        font-size: 56.25%;
    }

    @include respond(tab-port) {
        font-size: 50%;
    }

    @include respond(phone) {
        font-size: 80%;
    }
}

body {
    box-sizing: border-box; 
    font-family: times 'Times New Roman', Times, serif;
    background-color: $color-white;

    @include respond(tab-port) {
        padding: 0;
    }
}

