// Colors
$color-orange-bright: #f43a09;
$color-orange-dark: #cf3409;
$color-green-bright: #68d388;

$color-grey-light: #efefef;
$color-grey-dark: #5e5e5e;

$color-white: #fefefe;
$color-black: #000;

// Grid
$grid-width: 114rem;
$gutter-vertical: 4rem;
$gutter-vertical-small: 2rem;
$gutter-horizontal: 4rem;